meter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  width: 100vw;
  border-radius: 0;
  border: none;
  height: .25rem;
}

meter::-moz-meter-bar {
  border-radius: 0;
  border: none;
}

meter::-webkit-meter-bar {
  border-radius: 0;
  border: none;
}

meter::-webkit-meter-inner-element {
  display: block;
}

meter::-webkit-meter-optimum-value {
  background: green;
}

meter::-webkit-meter-suboptimum-value {
  background: orange;
}

meter::-webkit-meter-even-less-good-value {
  background: red;
}
